* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
} /*css Reset*/

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(88, 88, 88);
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  color: aliceblue;
}
.card {
  position: fixed;
  border: dimgray solid 2px;
  background-color: rgb(110, 110, 110);
  display: flex;
  width: 1000px;
  height: 460px;
  border-radius: 20px;
  padding: 5px;
}

.kanan, .kiri{
  width: 50%;
  height: 970;
  margin: 10px;
  border-radius: 20px;
}

.isi-kiri {
  background-color: rgb(97, 97, 97);
  border-radius: 20px;
}

.kanan {
  padding: 20px;
  background-color: rgb(97, 97, 97);
}

.kanan h1 {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column; /*menata item secara vertikal*/
  justify-content: center;
}

.gambar {
  width: 100%; 
  object-fit: cover;
  border-radius: 10px;
}

.text {
  font-size: 13px;
  padding: 4px;
  text-align: center;
}

label, button, input {
  margin: 2px;
  padding: 7px;
  color: aliceblue;
}

button, input {
  border: none; /*menghilangkan boder pada input dan button*/
  border-radius: 5px;
  background-color: gray;
}

input::placeholder {
  color: aliceblue; /*mewarnai placholder pada input*/
}

